node_modules
**/node_modules
.git
.turbo
**/.turbo
out
dist
**/dist
.output
**/.output
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example
*.log
coverage
.DS_Store
apps/web/node_modules
apps/server/node_modules
